<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<p>My Omise customer Id: <%= @user.omise_id %></p>

<h3>List of Omise cards:</h3>
<% if @user.customer.cards.total == 0 %>
    <p>You currently have no cards for this account.</p>
<% else %>
    <ul>
        <% @user.customer.cards.each do |card| %>
            <%= render partial: 'omise_cards/single', locals: { card: card } %>
        <% end %>
    </ul>
<% end %>
<br><br>
<%= link_to 'Add Card', new_user_omise_card_path(@user.id) %>
<br><br><br>
<%= link_to 'Index', users_path %>